.Header {
    text-align: left;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.TileContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    x-grid-column-gap: 1rem;
    grid-row-gap: 3rem;
}

.Tile {
    justify-self: center;

    box-sizing: border-box;
    padding: 1rem;
    width: 12rem;
    height: 10rem;
    background-color: var(--primary-color);
    border-radius: 0.6rem;
    border-color: white;
    border-width: 1px;
    border-style: solid;

    text-align: center;
}

.Tile-Title {
    color: white;
    padding-bottom: 0.5rem;
}

.Tile-Icon {
    display: block;
    width: 50%;
    height: auto;
    margin: 0 auto;
}