body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-image: url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary-color: #c62828;
  --light-color: #ff5f52;
  --dark-color: #8e0000;
}